{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.ingredients) }}
        <p>Price = {{ pizza_calculator_service.getPrice(pizza.ingredients) }} </p>
        <button type="submit">Crear</button>
    {{ form_end(form) }}
{% endblock %}